body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: auto;
    /* height: 100vh; */
    /* margin: 0; */

}
:root{
    --nav-height:80px;
}

@media(max-width:768px){
    body{
        padding-top: var(--nav-height);
    }
}